@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;1,700;1,800&display=swap');

:root {
    --dark-color: #1F2937;
    --hero-main-text-size: 48px; 
    --header-logo-text: #F9FAF8;
    --header-logo-size: 24px;
    --header-link-color: #E5E7EB;
    --header-link-size: 18px;
    --primary-button-color: #3882F6;
    --info-header-text: #1f2937;
    --info-header-size: 36px;
    --quote-section-background: #E5E7EB;
    --quote-text-color: #1F2937;
    --quote-text-size: 36px;
}

body {
    font-family: 'Open Sans';
    height: 100vh;
    margin: 0;
}

.header {
    background: var(--dark-color);
    color: var(--header-logo-text);
    font-size: var(--header-logo-size);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    flex-grow: 1;
}

.footer {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: var(--header-link-size);
    background-color: var(--dark-color);
    color: var(--header-link-color)
}

.logo {
    font-weight: 800;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

li {
    margin: 0;
    padding: 0;
}

a {
    font-size: var(--header-link-size);
    text-decoration: none;
    color: var(--header-link-color);
    font-weight: 300;
}

.section {
    background-color: var(--dark-color);
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 64px;
    padding-top: 24px;
    padding-bottom: 24px;
}

h1 {
    font-size: var(--hero-main-text-size);
    font-weight: bold;
    color: var(--header-logo-text);
}


.wrapper p, .wrapper h1 {
    max-width: 400px;
    margin: 0;
    color: var(--header-logo-text)
}

.placeholder {
    background-color: gray;
    color: var(--header-link-color);
    padding: 120px 160px;
    flex-shrink: 1;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    
}

button {
    background-color: var(--primary-button-color);
    padding: 16px 32px;
    border-radius: 10px;
    border: none;
    font-size: var(--header-link-size);
    font-weight: bold;
    color: var(--header-logo-text)
}

.section.info {
    background: white;
    padding: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    border: 5px solid dodgerblue;
    border-radius: 12px;
    width: 200px;
    height: 200px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: var(--info-header-size);
    color: var(--info-header-text);
    font-weight: bold;
}

.section.quote {
    background-color: var(--quote-section-background);
    padding: 80px;
}

.text {
    font-style: italic;
    font-weight: light;
    font-size: var(--quote-text-size);
    color: var(--quote-text-color);
}

.author {
    text-align: right;
    width: 100%;
}

.section.contact {
    background: white;
    padding: 24px 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .container {
        display: flex;
        gap: 64px;
        background-color: var(--primary-button-color);
        color: var(--header-logo-text);
        border-radius: 24px;
        padding: 24px 48px;
        & .main-text {
            & h1 {
                font-size: var(--info-header-size);
            }
        }
        & button {
            border: 2px solid white;
        }
    }
}